<div class="card medium grey darken-3">
        <img class="responsive-img" src="/assets/images{{ room.defaultImage.source }}">
        <div class="card-content white-text">
            <span class="card-title">{{ room.name }}</span>
            <ul class="collection grey override-collection">
                <li class="grey darken-4 collection-item avatar">
                    <i class="material-icons circle purple darken-1">&pound;</i>
                    <span class="bold">Sleeps {{ room.sleepsMin ~ '-' ~ room.sleepsMax }}</span>
                </li>
                <li class="grey darken-4 collection-item avatar">
                    <i class="material-icons circle purple darken-1">hotel</i>
                    <span class="bold">From £---</span>
                </li>
            </ul>
        </div>
    <div class="card-action text-center">
        <a class="purple darken-1 waves-effect waves-light btn">Book this room</a>
    </div>
</div>