{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .override-collection .collection-item {
            min-height: 65px !important;
            line-height: 2.6rem !important;
        }
    </style>
{% endblock stylesheets %}
{% block body %}
    <div class="title-block">
        <h2 style="font-size:3rem;font-family: 'Playfair Display', 'Roboto Light',serif;font-style:italic;letter-spacing: 6px;color:#333;line-height: 3rem;">
            Our rooms</h2>
        <p style="font-family: Serif, Roboto;color:#111;">Short tagline for the Erskine hotel</p>
    </div>
    <div id="index-banner" class="parallax-container hide-on-med-and-down show-on-medium-and-up"
         style="max-height: 400px;">
        <div class="parallax">
            <img src="/assets/images/10/7.jpg"
                 style="bottom:120px;"
                 alt="Unsplashed background img 1">
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for room in rooms %}
                <section class="col m6 l3">
                    <div class="card grey darken-3">
                        <a href="{{ path('rooms_view', { name: room.name }) }}">
                            <img class="responsive-img" src="/assets/images{{ room.defaultImage.source }}" style="height:170px;">
                            <div class="card-content white-text">
                                <span class="card-title">{{ room.name }}</span>
                                <ul class="collection grey override-collection">
                                    <li class="grey darken-4 collection-item avatar">
                                        <i class="material-icons circle purple darken-1">&pound;</i>
                                        <span class="title bold">Sleeps {{ room.sleepsMin ~ '-' ~ room.sleepsMax }}</span>
                                    </li>
                                    <li class="grey darken-4 collection-item avatar">
                                        <i class="material-icons circle purple darken-1">hotel</i>
                                        <span class="title bold">From £---</span>
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="card-action text-center">
                            <a class="purple darken-1 waves-effect waves-light btn">Book this room</a>
                        </div>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
{% endblock body %}