{% extends 'base.html.twig' %}
{% block body %}
    <div class="title-block">
        <h2 style="font-size:3rem;font-family: 'Playfair Display', 'Roboto Light',serif;font-style:italic;letter-spacing: 6px;color:#333;line-height: 3rem;">
            Our rooms</h2>
        <p style="font-family: Serif, Roboto;color:#111;">Short tagline for the Erskine hotel</p>
    </div>
    <div id="index-banner" class="parallax-container hide-on-med-and-down show-on-medium-and-up"
         style="max-height: 400px;">
        <div class="parallax">
            <img src="/assets/images/10/7.jpg"
                 style="bottom:120px;"
                 alt="Unsplashed background img 1">
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for room in rooms %}
                <section class="col m6 l3">
                    <div class="card grey darken-3">
                        <a href="{{ path('rooms_view', { name: room.name }) }}">
                            <img class="responsive-img" src="/assets/images{{ room.defaultImage.source }}">
                            <div class="card-content white-text">
                                <span class="card-title">{{ room.name }}</span>
                                <p>{{ room.description }}</p>
                            </div>
                        </a>
                        <div class="card-action text-center">
                            <a class="purple darken-1 waves-effect waves-light btn">Book this room</a>
                        </div>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
{% endblock body %}