{% extends 'base.html.twig' %}
{% set page = 'rooms' %}
{% block stylesheets %}
    <style>
        .collection .collection-item {
            min-height: 65px !important;
            line-height: 2.6rem !important;
        }
    </style>
{% endblock stylesheets %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card grey darken-4 small">
                    <div class="card-content center white-text lighten-4">
                        <h2 style="font-size:3rem;font-style:italic;letter-spacing: 6px;line-height: 3rem;">
                            {{ room.name }}</h2>
                        <p>Sleeps: {{ room.sleepsMin ~ '-' ~ room.sleepsMax }}</p>
                        <h4>From &pound;145</h4>
                    </div>
                    <div class="card-action text-center">
                        <a class="purple darken-1 waves-effect waves-light btn">Book this room</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l8">
                <div class="card small" style="overflow:hidden;">
                    <div class="carousel carousel-slider center" data-indicators="true">
                        {% for image in room.images if image.isActive %}
                            <div class="carousel-item black-text"
                                 style="background-image: url('/assets/images{{ image.source }}'); background-position: center; background-size: cover;">
                            </div>
                        {% endfor %}
                        <div class="left" style="position: absolute;
                 top: 35%; left:10px;
                 transform: translateY(-45%);">
                            <button id="caro-prev" type="button"
                                    class="btn-floating btn-large waves-effect waves-light caro-btn"><i
                                        class="material-icons">chevron_left</i></button>
                        </div>
                        <div class="right"
                             style="position: absolute; top: 35%; right:10px; transform: translateY(-45%);">
                            <button id="caro-next" type="button"
                                    class="btn-floating btn-large waves-effect waves-light caro-btn"><i
                                        class="material-icons">chevron_right</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flow-text">
                {{ room.html|raw }}
        </div>
    </div>
{% endblock body %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.carousel').carousel({fullWidth: true});
            setInterval(function () {
                $('.carousel').carousel('next');
            }, 5500);

            $('#caro-prev').click(function () {
                $('.carousel').carousel('prev');
            });
            $('#caro-next').click(function () {
                $('.carousel').carousel('next');
            });
            if ($(window).width() > 1200) {
                $('.pinned-bar').pushpin({
                    top: 600,
                    bottom: ($(document).height() - ($('footer').outerHeight() + 600))
                });
            }

        });
    </script>
{% endblock js %}