{% extends 'base.html.twig' %}
{% set page = 'about' %}
{% block body %}
    <div class="title-block">
        <h2 style="font-size:3rem;font-family: 'Playfair Display', 'Roboto Light',serif;font-style:italic;letter-spacing: 6px;color:#333;line-height: 3rem;">
            About</h2>
        <h5 style="font-family: Serif, Roboto;color:#111;">About...</h5>
    </div>
    <div id="index-banner" class="parallax-container hide-on-med-and-down show-on-medium-and-up"
         style="max-height: 400px;">
        <div class="parallax">
            <img src="/assets/images/Communal/2.jpg"
                 style="bottom:120px;"
                 alt="Unsplashed background img 1">
        </div>
    </div>

    <div class="container flow-text">
        <p>In common with many of the buildings in the centre of Sheffield, the building that houses Erskine Apartments
            has a long history. Formally a 17th Century book depository and, being in the heart of the legal section of
            the city, the ideal place to hold legal documents. Later, the building was converted to living accommodation
            on the top floors and offices on the ground floor.</p>
        <p>We began work on Erskine Apartments in 2013 with the aim of creating superb, luxury, well appointed and
            modern apartments, housed within a building created by craftsmen of years gone by. Through careful planning
            and design, our goal was to preserve and show many of the original features of the building that had laid
            hidden for so long – and employ as many local companies and craftsmen as possible for the entire project.
            Creating a luxury environment within the framework of such an old building presented a few surprises and
            setbacks along the way, but the philosophy didn’t change and we have achieved our goal without
            compromise.</p>
        <p>No expense was spared in the fittings and furniture for these apartments: hand sewn bespoke curtains , solid
            English oak doors, engineered oak floors and German ‘Sliderobes’ are just some of the features.</p>

    </div>{% endblock body %}