{% extends 'base.html.twig' %}
{% set page = 'about' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card grey center darken-4 small">
                    <div class="card-content white-text lighten-4">
                        <h2 style="font-size:3rem;font-style:italic;letter-spacing: 6px;line-height: 3rem;">
                            About</h2>
                        <h5 class="text-grey">About</h5>
                    </div>
                </div>
            </div>
            <div id="index-banner" class="col s12 m6 l8">
                <div class="card small" style="overflow:hidden;">
                    {#<div class="card-image">#}
                    <div class="responsive-img"
                         style="
                     height: 100%;
                     background-image: url('/assets/images/Communal/1.jpg');
                     background-repeat: no-repeat;
                     background-position: center;
                     /*background-attachment: fixed;*/
                     background-size: cover;
                 ">
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flow-text">
            <p>In common with many of the buildings in the centre of Sheffield, the building that houses Erskine
                Apartments
                has a long history. Formally a 17th Century book depository and, being in the heart of the legal section
                of
                the city, the ideal place to hold legal documents. Later, the building was converted to living
                accommodation
                on the top floors and offices on the ground floor.</p>
            <p>We began work on Erskine Apartments in 2013 with the aim of creating superb, luxury, well appointed and
                modern apartments, housed within a building created by craftsmen of years gone by. Through careful
                planning
                and design, our goal was to preserve and show many of the original features of the building that had
                laid
                hidden for so long – and employ as many local companies and craftsmen as possible for the entire
                project.
                Creating a luxury environment within the framework of such an old building presented a few surprises and
                setbacks along the way, but the philosophy didn’t change and we have achieved our goal without
                compromise.</p>
            <p>No expense was spared in the fittings and furniture for these apartments: hand sewn bespoke curtains ,
                solid
                English oak doors, engineered oak floors and German ‘Sliderobes’ are just some of the features.</p>

        </div>
    </div>
{% endblock body %}