<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}Erskine Hotel</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/app.css">
    <meta name="theme-color" content="#ffffff">
    <style>
        .alt-font {
            font-family: 'Playfair Display', 'Roboto Light', serif;
        }
        footer {
            color: white;
        }
        footer h2 {
            font-family: 'Playfair Display', 'Roboto Light', serif;

            font-size: 2rem;
        }
        .main-h2 {
            font-size: 3rem;
            font-style: italic;
            letter-spacing: 6px;
            line-height: 3rem;
        }

        .margin-0 {
            margin: 0;
        }

        .title-block {
            max-width: 400px;
            position: relative;

            text-align: center;
            background-color: rgba(255, 255, 255, 0.5);

            padding: 15px;
            margin: 0 auto;
        }
        @media (min-width: 600px) {
            .title-block {
                position:absolute;
                left: 0;
                right: 0;
                top: 25%;
            }
        }
        .collection .collection-item {
            padding: 2px;
        }

    </style>
    {% block stylesheets %}
        {# For additional stylesheets, if need on other pages, ensures they are added AFTER the main sheets. #}
    {% endblock %}
</head>

<body>
{# START NAV #}
{% include "layout/navigation.html.twig" %}
{# END NAV #}
{### START MAIN SECTION ###}
<main>
    {% block body %}
    {% endblock body %}
</main>
{### END MAIN SECTION ###}
{### START FOOTER SECTION ###}
{% include "layout/footer.html.twig" %}
{### END FOOTER SECTION ###}
<script src="/assets/js/app.js"></script>
<script>
    $(document).ready(function () {
        $('.carousel.carousel-slider').carousel({fullWidth: true});
        $(".button-collapse").sideNav()
        $(".dropdown-button").dropdown()
    })
</script>
{% block js %}{% endblock js %}
</body>
</html>