{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Non quam nostram quidem, inquit Pomponius iocans;</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quamvis enim depravatae non sint, pravae tamen esse
            possunt. <a href="http://loripsum.net/" target="_blank">Mihi enim satis est, ipsis non satis.</a> Duo Reges:
            constructio interrete. Quaesita enim virtus est, non quae relinqueret naturam, sed quae tueretur. Bonum
            patria: miserum exilium. Nam et complectitur verbis, quod vult, et dicit plane, quod intellegam; </p>

        <blockquote cite="http://loripsum.net">
            Cum audissem Antiochum, Brute, ut solebam, cum M.
        </blockquote>


        <dl>
            <dt><dfn>Restatis igitur vos;</dfn></dt>
            <dd>Iam doloris medicamenta illa Epicurea tamquam de narthecio proment: Si gravis, brevis;</dd>
            <dt><dfn>Scrupulum, inquam, abeunti;</dfn></dt>
            <dd>Quae fere omnia appellantur uno ingenii nomine, easque virtutes qui habent, ingeniosi vocantur.</dd>
            <dt><dfn>Cyrenaici quidem non recusant;</dfn></dt>
            <dd>Ita similis erit ei finis boni, atque antea fuerat, neque idem tamen;</dd>
            <dt><dfn>Quo tandem modo?</dfn></dt>
            <dd>In primo enim ortu inest teneritas ac mollitia quaedam, ut nec res videre optimas nec agere possint.
            </dd>
        </dl>


        <p>Si longus, levis dictata sunt. Maximas vero virtutes iacere omnis necesse est voluptate dominante. Cuius ad
            naturam apta ratio vera illa et summa lex a philosophis dicitur. Est autem a te semper dictum nec gaudere
            quemquam nisi propter corpus nec dolere. </p>

        <h2>Huius ego nunc auctoritatem sequens idem faciam.</h2>

        <p>Quam tu ponis in verbis, ego positam in re putabam. Cum autem negant ea quicquam ad beatam vitam pertinere,
            rursus naturam relinquunt. Hoc est non dividere, sed frangere. <b>Sed haec nihil sane ad rem;</b> Neque enim
            disputari sine reprehensione nec cum iracundia aut pertinacia recte disputari potest. Quid de Platone aut de
            Democrito loquar? Qui non moveatur et offensione turpitudinis et comprobatione honestatis? Nemo nostrum
            istius generis asotos iucunde putat vivere. Ostendit pedes et pectus. </p>

        <ul>
            <li>Idem iste, inquam, de voluptate quid sentit?</li>
            <li>Cum ageremus, inquit, vitae beatum et eundem supremum diem, scribebamus haec.</li>
            <li>Beatum, inquit.</li>
            <li>Sed quid minus probandum quam esse aliquem beatum nec satis beatum?</li>
        </ul>


    </div>{% endblock body %}