{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
    </style>
{% endblock stylesheets %}
{% block body %}
    <div id="index-banner" class="parallax-container">
        <div style="max-width:400px;text-align: center;background-color:white;padding:15px;margin:0 auto;">
            <h2 style="font-size:3rem;font-family: 'Playfair Display', 'Roboto Light',serif;font-style:italic;letter-spacing: 6px;color:#333;line-height: 3rem;">
                Erskine Hotel</h2>
            <p style="font-family: Serif, Roboto;color:#111;">Short tagline for the Erskine hotel</p>
        </div>
        <div class="parallax"><img src="/assets/images/Communal/1.jpg" alt="Unsplashed background img 1"></div>
    </div>
    <div class="card grey darken-4 margin-0 text-center">
        <div class="card-content white-text">
            <h2 class="alt-font main-h2">Sheffield's Finest</h2>
            <h4 class="alt-font">Some sort of enticing tag line...</h4>
        </div>
    </div>
    <div class="carousel carousel-slider center" data-indicators="true">

    </div>
{% endblock body %}