{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
    </style>
{% endblock stylesheets %}
{% block body %}
    <div id="index-banner" class="parallax-container">
        <div style="max-width:400px;text-align: center;background-color:white;padding:15px;margin:0 auto;">
            <h2 style="font-size:3rem;font-family: 'Playfair Display', 'Roboto Light',serif;font-style:italic;letter-spacing: 6px;color:#333;line-height: 3rem;">
                Erskine Hotel</h2>
            <p style="font-family: Serif, Roboto;color:#111;">Short tagline for the Erskine hotel</p>
        </div>
        <div class="parallax"><img src="/assets/images/Communal/1.jpg" alt="Unsplashed background img 1"></div>
    </div>
    <div class="card grey darken-4 margin-0 text-center">
        <div class="card-content white-text">
            <h2 class="alt-font main-h2">Sheffield's Finest</h2>
            <h4 class="alt-font">Some sort of enticing tag line...</h4>
        </div>
    </div>
    <section class="container flow-text">
        <h1>HTML Ipsum Presents</h1>
        <div class="row">
            <div class="col m9">
                <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis
                    egestas.
                    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
                    amet
                    quam
                    egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit
                    amet
                    est
                    et
                    sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>,
                    ornare
                    sit
                    amet,
                    wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus
                    lacus
                    enim
                    ac
                    dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
                <h2>Header Level 2</h2>

                <ol>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                </ol>

                <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis
                        aliquet
                        congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis
                        mollis,
                        tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
                </blockquote>

                <h3>Header Level 3</h3>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                </ul>
            </div>
            <div class="col m3">
                <img src="/assets/images/Communal/2.jpg" class="responsive-img" alt="An image">
                <img src="/assets/images/Communal/3.jpg" class="responsive-img" alt="An image">
                <img src="/assets/images/Communal/4.jpg" class="responsive-img" alt="An image">
                <img src="/assets/images/Communal/5.jpg" class="responsive-img" alt="An image">
                <img src="/assets/images/Communal/6.jpg" class="responsive-img" alt="An image">
            </div>
        </div>
    </section>
{% endblock body %}