{% extends 'base.html.twig' %}
{% set page = 'location' %}
{% block body %}
    <div class="title-block">
        <h2 style="font-size:3rem;font-family: 'Playfair Display', 'Roboto Light',serif;font-style:italic;letter-spacing: 6px;color:#333;line-height: 3rem;">
            Location</h2>
        <h5 style="font-family: Serif, Roboto;color:#111;">Location...</h5>
    </div>
    <div id="index-banner" class="parallax-container hide-on-med-and-down show-on-medium-and-up"
         style="max-height: 400px;">
        <div class="parallax">
            <img src="/assets/images/Communal/2.jpg"
                 style="bottom:120px;"
                 alt="Unsplashed background img 1">
        </div>
    </div>

    <div class="container flow-text">
        <div class="row">
        <div class="col l6">
            <h1>Location</h1>
            <p>Erskine Apartments is situated in an excellent location in the City Centre, our apartments are less than
                minutes’ walk to Fargate, City Centre; 15 minute’s to both University of Sheffield and Sheffield Hallam
                University. Restaurants, Shops, bars, theatres just on the doorstep for you to explore.</p>
            <h2>Parking</h2>
            <p>We do not have our own car park at Erskine Apartments but can offer you a concessionary parking ticket
                which
                will allow you to park for £6.50 overnight at either of the two NCP car parks located just a few
                minutes’
                walk - Sheffield Hartshead or Sheffield Campo Lane. (Ticket to be presented when leaving).</p>
        </div>
        <div class="col l6">
            <h4>Map here</h4>
        </div>
        </div>
    </div>
{% endblock body %}