{% extends 'base.html.twig' %}
{% block body %}
    <div class="title-block">
        <h2 style="font-size:3rem;font-family: 'Playfair Display', 'Roboto Light',serif;font-style:italic;letter-spacing: 6px;color:#333;line-height: 3rem;">
            Business Stay</h2>
        <h5 style="font-family: Serif, Roboto;color:#111;">Book your business accommodation with us, today!</h5>
    </div>
    <div id="index-banner" class="parallax-container hide-on-med-and-down show-on-medium-and-up"
         style="max-height: 400px;">
        <div class="parallax">
            <img src="/assets/images/10/7.jpg"
                 style="bottom:120px;"
                 alt="Unsplashed background img 1">
        </div>
    </div>
    <div class="container flow-text">
        <h1>Business Stay</h1>
        <p>Each of our apartments are modernise with high-spec decorated and offers guests a warm, comfortable and
            luxury stay. If you are planning a longer business trip and considering extended stay, please contact us and
            we will try our best to meet your needs.
        <p>With each apartment are fully equipped with an open plan kitchenette/ living area, modern bathrooms, we
            combines the key comforts of a hotel with the privacy and convenience of your own home. Benefits include a
            weekly maid service alone with towel and linen change. More regular housekeeping can also be provided if
            required.
        <p>Book your business accommodation with us, today!
        <p><strong>Please note:</strong> We have room for groups of colleagues and can arrange block bookings. Please provide details in
            your enquiry form.
    </div>
{% endblock body %}