<footer class="page-footer grey darken-2">
    <div class="footer-copyright grey darken-3 ">
        <div class="container ">
            <div class="row text-center">
                <div class="col s12 l4 ">
                    <strong>Erskine Hotel</strong><br>
                    <a style="cursor:text" href="tel:">+phone </a>
                </div>
            </div>
        </div>
    </div>
</footer>