<footer class="footer page-footer grey darken-4">
    <div class="region region-footer">

        <div class="center-align">
            <div class="main">
                <div class="container">
                    <hr>

                    <div class="row">
                        <div class="col m3">
                            <h2>Address</h2>
                            <p><strong>Erskine Apartments</strong><br>
                                2EJ, 6 St Peter's Cl<br>
                                Sheffield<br>
                                S1 2EN
                            </p>
                        </div>
                        <div class="col m3">
                            <h2>Phone</h2>
                            <p><strong>Tel :</strong> 0114 272 7621</p>
                            <hr>
                            <h2><a href="" class="btn waves-effect waves-light" target="_blank" rel="nofollow">Book
                                    Online</a></h2>
                        </div>

                        <div class="col m3">
                            <h2>Follow us</h2>
                            <ul class="links">
                                <li style="display:inline-block; padding:10px;"><i class="icon ion-social-linkedin small"></i></li>
                                <li style="display:inline-block; padding:10px;"><i class="icon ion-social-google small"></i></li>
                                <li style="display:inline-block; padding:10px;"><i class="icon ion-social-facebook small"></i></li>
                                <li style="display:inline-block; padding:10px;"><i class="icon ion-social-twitter small"></i></li>
                            </ul>
                        </div>

                        <div class="col m3">
                            <h2>Useful links</h2>

                            <ul>
                                <li><a href="">Home</a></li>
                                <li><a href="">Rooms</a></li>
                                <li><a href="">Services</a></li>
                                <li><a href="">Contact</a></li>
                                <li><a href="">Our History</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="bottom">
                <div class="container">
                    <p>Copyright 2018 <i class="material-icons">copyright</i></p>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>